a.x-region-title-on:link,a.x-region-list-link:link,
a.x-region-title-on:visited,a.x-region-list-link:visited,
a.x-region-title-on:hover,a.x-region-list-link:hover,
a.x-region-title-on:active,a.x-region-list-link:active {
	color: #0000FF
}

a.x-region-title-off:link,a.x-region-title-off:visited,
a.x-region-title-off:hover,a.x-region-title-off:active {
	color: #000000;
	text-decoration: none;
	cursor: default;
}

.x-region-list {
	padding: 5px;
	font-size: 10pt;
}

.x-region-list-link {
	float: left;
	margin-right: 10px;
	white-space: nowrap;
}

.sf-applyScope-checked {
	color:#FF0000;
}

.sf-ajax-mask {
	background: #FFFFFF url('../resources/images/default/shared/blue-loading.gif') no-repeat center center;
	position: absolute;
	z-index: 9999;
	width: 37px;
	height: 37px;
	top: 10px;
	right: 10px;
}

.map-tip-wrap a {text-decoration: none;color: #07f; cursor:pointer;}
.map-tip-font_cb{color:#09F;}
.map-tip-clearfix {	zoom: 1}
.map-tip-wrap {margin: 10px auto 0px;}
.map-tip-tabs-trigger {background: url(images/tabs-bg.gif) repeat;width: auto;height: 23px;}
.map-tip-tabs-trigger a .map-tip-tab_t_l{display: inline-block;float: left;overflow: hidden;line-height: 23px;height: 23px;background-image: url(images/tabs-bg.gif);background-repeat: no-repeat;background-position: left -34px;width:20px;}
.map-tip-tabs-trigger a .map-tip-tab_t_r{display: inline-block;font-size: 14px;float: left;overflow: hidden;line-height: 23px;height: 23px;text-align: center;outline: none;background-image: url(images/tabs-bg.gif);background-repeat: no-repeat;background-position: right -34px;padding-right:20px;color: #1f376d;margin-right:1px;}
.map-tip-tabs-trigger a.map-tip-focus .map-tip-tab_t_l{font-weight: bold;	background-image: url(images/tabs-bg.gif);background-repeat: no-repeat;background-position: left -64px;}
.map-tip-tabs-trigger a.map-tip-focus .map-tip-tab_t_r{font-weight: bold;	background-image: url(images/tabs-bg.gif);background-repeat: no-repeat;background-position: right -64px; color:#f8a319;margin-right:1px;}

.map-tip-tabs-panel {border-right: #aacbee 1px solid;border-top: #aacbee 0px solid;border-left: #aacbee 1px solid;border-bottom: #aacbee 1px solid;padding-bottom: 2px;width:auto;display:block;background-color:#fff}
.map-tip-tab_img{text-align:right;padding:5px 5px 0px 0px}
.map-tip-tabs-panel p{line-height: 2;padding: 5px;margin: 0px; display:none;}

.map-tip-tab_tri{width:auto;text-align:center;}

.map-tip-pop_con{position:absolute;}

.map-tip-pop_con-table {
	border: #aacbee 1px solid;
	width:auto;
	display:block;
	background-color:#fff;
	font-size:12px;
}

.map-tip-pop_con-table .map-tip-pop_con-header {
	float:right;
}

.map-tip-pop_con-body {
	margin:0 5px 5px 5px;
}

/*大三角形start*/
.map-tip-tri_b_l{background-image: url(images/tri.gif);background-repeat: no-repeat;background-position: 0px 0px;height:76px;width: 91px;margin-top:-1px;margin-left:auto;margin-right:auto;_position: relative;_z-index:999;}
.map-tip-tri_b_r{background-image: url(images/tri.gif);background-repeat: no-repeat;background-position: 0px -77px;height:76px;width: 91px;margin-top:-1px;margin-left:auto;margin-right:auto;_position: relative;_z-index:999;}

/*中三角形start*/
.map-tip-tri_m_l{background-image: url(images/tri.gif);background-repeat: no-repeat;background-position: -92px 0px;height:55px;width: 64px;margin-top:-1px;margin-left:auto;margin-right:auto;_position: relative;_z-index:999;}
.map-tip-tri_m_r{background-image: url(images/tri.gif);background-repeat: no-repeat;background-position: -92px -77px;height:55px;width: 64px;margin-top:-1px;margin-left:auto;margin-right:auto;_position: relative;_z-index:999;}

/*小三角形start*/
.map-tip-tri_s_l{background-image: url(images/tri.gif);background-repeat: no-repeat;background-position: -157px 0px;height:35px;width:41px;margin-top:-1px;margin-left:auto;margin-right:auto;_position: relative;_z-index:999;}
.map-tip-tri_s_r{background-image: url(images/tri.gif);background-repeat: no-repeat;background-position: -157px -77px;height:35px;width:41px;margin-top:-1px;margin-left:auto;margin-right:auto;_position: relative;_z-index:999;}

.map-tip-tabs-panel p.map-tip-focus {
	display:block;
}

.map-tip-ifService {
	text-align:center;
	margin:10px 0px;
	font-size:12pt;
}

.red-bold {
	font-weight: bold;
	color:#FF0000;
}

/* grid自动换行 */
.x-grid-wrap-cells td.x-grid3-cell {
    overflow: hidden;
}
.x-grid-wrap-cells td.x-grid3-cell div.x-grid3-cell-inner {
    white-space: normal;
}

/* trigger表单 */
.x-form-field-wrap .x-form-search-trigger{
    background-image: url(images/search-trigger.gif);
    cursor:pointer;
}

.map-status-bar {
	font-weight: bold;
	color:#FF0000;
	z-index: 9999;
	left:100px;
	top:20px;
	font-size:12pt;
	position:absolute;
}

/* 按钮加边框 */
.x-toolbar .x-btn-border .x-btn-tl{
	background-position: -6px 0;
}

.x-toolbar .x-btn-border .x-btn-tr{
	background-position: -9px 0;
}

.x-toolbar .x-btn-border .x-btn-tc{
	background-position: 0 -9px;
}

.x-toolbar .x-btn-border .x-btn-ml{
	background-position: -6px -24px;
}

.x-toolbar .x-btn-border .x-btn-mr{
	background-position: -9px -24px;
}

.x-toolbar .x-btn-border .x-btn-mc{
	background-position: 0 -2168px;
}

.x-toolbar .x-btn-border .x-btn-bl{
	background-position: -6px -3px;
}

.x-toolbar .x-btn-border .x-btn-br{
	background-position: -9px -3px;
}

.x-toolbar .x-btn-border .x-btn-bc{
	background-position: 0 -18px;
}
/* 按钮加边框 */

/* 使Grid里的cell的文本能够选择  */
td.x-grid3-cell-select-on {
    -moz-user-select: text;
    -khtml-user-select:text;
    -webkit-user-select:text;
}